<?xml version="1.0"?>
<launch> 

  <!-- RVIZ -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find aruco_mapping)/launch/aruco_config.rviz" />

   <!--   usb_cam node -->
  <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen">
    <param name="video_device" value="/dev/video0" />
    <param name="image_width" value="640" />
    <param name="image_height" value="480" />
    <param name="pixel_format" value="mjpeg" />
    <param name="camera_frame_id" value="usb_cam" />
    <param name="io_method" value="mmap"/>
  </node>
    
  <!-- ArUco mapping -->
  <node pkg="aruco_mapping" type="aruco_mapping" name="aruco_mapping" output="screen">
    <remap from="/image_raw" to="/usb_cam/image_raw"/>

    <param name="calibration_file" type="string" value="$(find aruco_mapping)/data/geniusF100.ini" /> 
    <param name="num_of_markers" type="int" value="10" />
    <param name="marker_size" type="double" value="0.135"/>
    <param name="space_type" type="string" value="plane" />
    <param name="roi_allowed" type="bool" value="false" /> -->
    <param name="roi_x" type="int" value="0" /> -->
    <param name="roi_y" type="int" value="0" /> -->
    <param name="roi_width" type="int" value="640" /> -->
    <param name="roi_height" type="int" value="480" /> --> 

  </node>  
</launch>
